:host {
  display: block;
  height: 100%;
}
.login-card {
  max-width: 450px;
  min-width: 200px;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  mat-card {
    margin-bottom: 10px;
  }
  mat-form-field.full-width {
    width: 100%;
  }
}
.spacer {
  flex: 1 1 auto;
}
